.software-split-container {
    margin-top: 0; 
    transition: margin-top 0.4s ease-in-out;
    max-height: 100vh;
  }
  
  .software-split-containershrink {
    margin-top: 150px; 
  }

  .software-sectionshrink {
    margin-top: 150px;
  }

  
  .GIS-section {
    margin-top: 20px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #CardContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 10px;
    margin-bottom: 75px;
    min-height: 100%;
    overflow: auto;
    flex-direction: column;
    align-items: center;
  }
  
  #SE-Card {
    width: 85%; /* 50% width with space between */
    margin-bottom: 20px;
    background-color: antiquewhite;
  }
  
  .content {
    display: flex;
    flex-direction: row; /* Ensure content is displayed in column */
    align-items: center; /* Center content horizontally */
  }

  .TextCard {
    margin: 15px;
    max-height: 400px;
  }

  .image {
    width: 70%; /* Make sure image takes GIS full width of container */
    height: 70%; /* Make sure image takes GIS full height of container */
    object-fit: contain;
    border-color: rgb(77, 77, 77);
  }

  .icon-image {
    display: flex;
    justify-content:center;
    margin-top: 10px;
  }
  .card-content a {
    color: #415366; /* Blue color, you can change it as needed */
    text-decoration: none;
    display: inline-block; /* Ensure link behaves like a block element */
    margin-right: 10px; /* Adjust spacing between links if necessary */
  }
  
  .card-content a:hover {
    text-decoration: underline; /* Underline on hover */
  }
  

  .buttonLink {
    border-radius: 12px;
    padding: 10px 18px;
    font-size: 14px;
    transition-duration: 0.4s;
    color: white;
    background-color: #857366;
    flex-wrap: wrap;
  }

  .buttonLink a {
    text-decoration: none;
    color: white;
  }
  
  .buttonLink:hover {
    background-color: rgb(252, 251, 250);
    border-color: #857366;
  }
 
  .buttonLink:hover a {
    background-color: rgb(252, 251, 250);
    color:black;
    transition-duration: 1.0s;
  }


  /* icon colors for the tools */
  .react-button {
    color: #36dff8; /* Change color as desired */
  }
  
  .api-button {
    color: green; /* Change color as desired */
  }
  
  .bootstrap-button {
    color: #563d7c; /* Change color as desired */
  }

  .mongo-button {
    color: #00Ed64;
  }