#profilePicture {
  max-width: 300px;
  margin-left: 15px;
  transform: translateY(25px);
  opacity: 0;
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

#content-split-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#profilePicture.fade-in:hover {
  transform: scale(1.05);
}

#profilePic {
  flex: 1;
  padding: 25px;
  max-width: 20%;
  margin-left: 10px;
  align-content: center;
  
}
#profilePicture.fade-in {
  opacity: 1;
  transform: translateY(0);
}

#aboutContent {
  flex: 1;
  padding: 10px;
  margin: 10px;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-in-out, transform 1.2s ease-in-out;
}
#aboutContent.fade-in {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 628px) {
  #content-split-container {
    flex-direction: column;
    text-align: center;
  }

  #profilePicture {
    display: flex;
    max-width: 200px;
    align-items: center;
  }

  #profilePicture:hover {
    transform: none; /* Reset the scale on hover for smaller screens */
  }
}