.up-sectionshrink {
  margin-top: 150px
}
.up-section {
  margin-top: 20px;
}
#CardContainer {
  display: flex;
  overflow: auto;
  align-items: center;
  justify-content: space-around;
  width: 100%
}

#UP-Card {
  max-width: 700px;
  min-height: 400px;
  min-width: 300px;
  display: flex;
  align-items: center;
  background-color: antiquewhite;
  margin: auto;
  margin-top: 45px;
  margin-right: 35px;
  margin-left:35px;
}

.content {
  display: flex;
  align-items: center;
  min-width: 300px;
  flex: 1;
}

.image {
  max-width: 250px;
  margin: 20px;
  border-color: rgb(77, 77, 77);
}

.TextCard {
  margin: 15px;
  max-height: 323px;
}

.button {
  border-radius: 12px;
  padding: 10px 18px;
  font-size: 14px;
  transition-duration: 0.4s;
  color: white;
  background-color: #857366;
}

.button:hover {
  color: black;
  background-color: rgb(252, 251, 250);
  border-color: #857366;
}

@media (max-width: 1020px) {
  #UP-Card {
    margin: 15px;
    max-width: 100%; /* Ensure the card takes full width on small screens */
  }

  .content {
    flex-direction: column; /* Stack items vertically on small screens */
    align-items: center; /* Center content in the vertical direction */
    text-align: center; /* Center text content */
  }

  .image {
    margin-bottom: 15px; /* Add some bottom margin for spacing */
  }
}

@media (max-width: 660px) {
  #CardContainer {
    flex-direction: column; /* Stack cards vertically on small screens */
    align-items: center; /* Center cards horizontally */
  }

  #UP-Card {
    flex-direction: column; /* Stack items vertically on small screens */
    max-width: 100%; /* Ensure the card takes full width on small screens */
    margin-bottom: 15px; /* Add some bottom margin for spacing between cards */
  }

  .content {
    flex-direction: column; /* Stack items vertically on small screens */
    align-items: center; /* Center content in the vertical direction */
    text-align: center; /* Center text content */
  }

  .image {
    margin-bottom: 15px; /* Add some bottom margin for spacing */
  }
}

@media (max-width: 580px) {
  .up-sectionshrink {
    margin-top: 200px;
  }
}