header {
  background-color: #857366;
  opacity: 0.70;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-bottom: 10px;
  transition: all 0.3s ease;
}

header.shrink {
  padding: 5px;
}
.logo-container {
  position: relative;
  width: fit-content;
  height: fit-content;
  margin: 15px;
  flex-shrink: 0;
}
.Logo {
  width: 200px; /* Set the initial width */
  height: auto;
  transition: transform 0.5s ease-in-out; /* Add a smooth transition effect */
}
  
.Logo:hover {
  transform: scale(1.1); /* Increase the scale on hover (adjust as needed) */
}


.navbar {
  list-style-type: none;
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: space-around;
  margin: 0;
  margin-right: 20px;
}
  
.navbar li {
  margin: 0 10px;
  position: relative;
  display: inline-block;
  margin: 0 15px;
}
  .navbar li:hover .dropdown {
    display: block;
  }
  
  .navbar a {
  text-decoration: none;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  }

.NavTitle {
  position: relative;
  font-size: 50px;
  text-decoration: none;
  transition: font-size 0.2s ease-in-out;
}

  .NavTitle:hover::before {
    width: 100%;
    transition: width 0.2s ease-in-out 0.2s;
  }
  .NavTitle::before {
    content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: currentColor;
  transition: width 0.2s ease-in-out;
  }


@media (max-width: 628px) {
  header {
    flex-direction: column;
    align-items: center;
    }
  
  .logo-container {
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    }
  
  .navbar {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    }
  
  .NavTitle {
    text-decoration: none;
    margin: 10px;
    flex: 1;
    flex-direction: row;
    }
  
  .NavTitle:hover::before {
    width: 100%;
    transition: width 0.2s ease-in-out 0.2s;
    }
  
  .NavTitle::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: currentColor;
    transition: width 0.2s ease-in-out;
}}

      