header {
  background-color: #857366;
  color: #fff;
  display: flex;
  align-items: center;
  transition: all 0.8s ease;
  top: 1;
}

header.shrink {
  padding: 5px;
  max-height: 250px;

}
.logo-container {
  margin: 10px;
  flex-shrink: 0;
  position: top;
  padding-left: 10px;
}

.Logo {
  width: 100px; /* Set the initial width */
  transition: transform 0.5s ease-in-out;
}

.small-logo {
  width: 30px; 
  justify-content: center;
  top: 0;
}
  
.Logo:hover {
  transform: scale(1.1); /* Increase the scale on hover (adjust as needed) */
}


.navbar {
  position: sticky;
  top: 0;
  left: 15;
  width: 100%;
  z-index: 1;
  transition: height 0.5s ease 0.8s, background-color 0.5s ease 0.3s; /* Adjust the duration and easing as needed */
}

.shrink {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
  opacity: 80%;
  height: 40px;
  transform: all 3s ease;
  padding: 2px;
}
.small-navbar {
  height: 60px;
  transform: all 3s ease;
  top: 0;
  z-index: 9990;
  margin: 10px;
  
}

body {
  padding-bottom: 45px;
}
  
.navbar li {
  margin: 0 10px;
  position: relative;
  display: inline-block;
  margin: 0 10px;
}
  
.navbar a {
  text-decoration: none;
  font-size: 16px;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.NavTitle {
  position: relative;
  text-decoration: none;
  transition: font-size 0.2s ease-in-out;
}

  .NavTitle:hover::before {
    width: 100%;
    transition: width 0.2s ease-in-out 0.2s;
  }
  .NavTitle::before {
    content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: currentColor;
  transition: width 0.2s ease-in-out;
  }


@media (max-width: 340px) {
  header {
    flex-direction: column;
    align-items: center;
    }
  
  .logo-container {
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    }
  
  .navbar {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    }
  
  .NavTitle {
    text-decoration: none;
    margin: 10px;
    flex: 1;
    flex-direction: row;
    }
  
  .NavTitle:hover::before {
    width: 100%;
    transition: width 0.2s ease-in-out 0.2s;
    }
  
  .NavTitle::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: currentColor;
    transition: width 0.2s ease-in-out;
}}

      