body {
  font-family: Arial, sans-serif;
}

#footerContainer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: auto;
  padding-bottom: 0;
  background-color: bisque;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px; /* Adjust the width as needed */
  height: auto;
  margin-right: 10px;
  padding-bottom: 10px;
}

.links {
  display: flex;
  list-style-type: none;
  padding: 0;
  color: #333;
  max-width: 30%;
}

.links li {
  margin-right: 10px;
}

.links a {
  color: #fff;
  text-decoration: none;
}

.icons {
  display: flex;
  justify-content: flex-end;
}

.icons a {
  margin-left: 20px;
  color: #fff;
  text-decoration: none;
}