#page-container {
  position: relative;
  min-height: 100%
}

#footer {
  background-color: hsl(25, 13%, 46%);
  position:absolute;
  bottom: 0;
  width: 100%
}

#footerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height:45px
}
#footerContainer a {
  margin: 0 25px;
}
.footer-divider {
  width: 2px;
  height: 35px;
  background-color: hsla(0, 0%, 96%, 0.623);
  -webkit-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg);
  justify-content: center;
}

.icons {
  display: flex;
  justify-content: flex-end;
}

#footer a {
  color: hsla(0, 0%, 96%, 0.623);
  text-decoration: none;
  transition: color 0.3s ease;
}

#footer a:hover {
  color:#ffffffef
}

 #copyrightText {
  font-size: 8px;
}